<!DOCTYPE html>
<html>

<head>
    <title>Panchayat Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<div class="navbar">
    <h2>Panchayat Dashboard</h2>

    <div class="nav-links">
        <a href="/">Home</a>
        <a href="/teacher">Teacher</a>
    </div>
</div>

<div class="container">

    <div class="card">

        <h2 class="heading">
            Check Student Attendance
        </h2>

        <form method="POST">

            <input type="text"
                   name="ration_no"
                   placeholder="Enter Ration Card Number"
                   required>

            <button type="submit">
                Check Attendance
            </button>

        </form>

    </div>

    {% if message %}

    <div class="card">
        <h3>{{ message }}</h3>
    </div>

    {% endif %}

    {% if students %}

    <div class="card table-container">

        <h2 class="heading">Attendance Details</h2>

        <table class="table">

            <tr>
                <th>Student Name</th>
                <th>Class</th>
                <th>Attendance %</th>
                <th>Status</th>
            </tr>

            {% for s in students %}

            <tr>

                <td>{{ s.Student_Name }}</td>

                <td>{{ s.Class }}</td>

                <td>{{ s.Attendance }}%</td>

                <td>
                    {% if s.Attendance_Percentage >= 80 %}

                            <span class="attendance-good">
                                {{ s.Attendance_Percentage }}%
                            </span>

                        {% elif s.Attendance_Percentage >= 50 %}

                            <span class="attendance-medium">
                                {{ s.Attendance_Percentage }}%
                            </span>

                        {% elif s.Attendance_Percentage >= 30 %}

                            <span class="attendance-low">
                                {{ s.Attendance_Percentage }}%
                            </span>

                        {% else %}

                            <span class="attendance-very-low">
                                {{ s.Attendance_Percentage }}%
                            </span>

                        {% endif %}
                </td>

            </tr>

            {% endfor %}

        </table>

    </div>

    {% endif %}

</div>

</body>
</html>